
body{

  min-width: 400px;
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

input{
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #5f9314;  
  box-sizing: border-box;
}

#delete-btn{
  color: #5f9314;
  background-color: white;
}



button{
  background-color: #5f9314;
  color: white;
  border: 1px solid #5f9314;
  font-weight: bold;
  margin-top: 5px;
  padding: 8px 10px;
  
}

ul{
  list-style: none;
  padding: 0px;
  margin-top: 10px;
}

li{
  font-size: 20px;
  padding: 5px;
}

a{
  color: #5f9314;
}
